{extend name="layouts/layout_iframe" /}

{block name="title"}经纪人审核{/block}

{block name="body"}
<nav class="breadcrumb">
    <i class="Hui-iconfont Hui-iconfont-home2"></i> 首页
    <span class="c-gray en">&gt;</span> 经纪人管理
    <span class="c-gray en">&gt;</span> 经纪人审核列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont Hui-iconfont-huanyipi"></i>
    </a>
</nav>
<div class="page-container">
    <form action="" method="get">
    <div class="text-c">
        <input type="text" class="input-text" style="width:170px;" placeholder="真实姓名" name="realname" value="{$search.realname|default=''}">
        <input type="text" class="input-text" style="width:170px;" placeholder="手机号" name="mobile" value="{$search.mobile|default=''}">

        <span class="select-box" style="width:70px;height: 31px;">
            <select class="select" name="state" size="1">
                <option value="">状态</option>
                <option value="0" {if condition="isset($search.state) AND $search.state heq '0'"}selected{/if}>待审核</option>
                <option value="1" {if condition="isset($search.state) AND $search.state heq '1'"}selected{/if}>通过</option>
                <option value="2" {if condition="isset($search.state) AND $search.state heq '2'"}selected{/if}>拒绝</option>
            </select>
        </span>
        <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont Hui-iconfont-search2"></i>搜索</button>
    </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">

        <span class="r">共有数据：<strong>{$datas.total}</strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox" value="" name=""></th>
            <th width="40">ID</th>
            <th>登录名</th>
            <th>昵称</th>
            <th>真实姓名</th>
            <th>手机号</th>
            <th>申请时间</th>
            <th>审核时间</th>
            <th>审核人</th>
            <th>状态</th>
            <th width="80">操作</th>
        </tr>
        </thead>
        <tbody>
        {empty name="datas.data"}
        <tr class="text-c admin-lists">
            <td colspan="12">暂时没有匹配到数据</td>
        </tr>
        {/empty}
        {volist name="datas.data" id="item"}
        <tr class="text-c admin-lists">
            <td width="25"><input type="checkbox" value="{$item.id}" name=""></td>
            <td width="40">{$item.id}</td>
            <td>{$item.has_one_user.username}</td>
            <td>{$item.has_one_user.nickname}</td>
            <td>{$item.realname}</td>
            <td>{$item.mobile}</td>
            <td>{$item.create_at|date='Y-m-d H:i:s', ###}</td>
            <td>{if condition="$item.update_at gt 0"}{$item.update_at|date='Y-m-d H:i:s', ###}{/if}</td>
            <td>{$item.has_one_admin.username}</td>
            <td>
                {if condition="$item.state eq 0"}
                    <span class="label label-success radius">待审核</span>
                {elseif condition="$item.state eq 1" /}
                    <span class="label label-success radius">审核通过</span>
                {elseif condition="$item.state eq 2" /}
                    <span class="label label-danger radius">拒绝</span>
                {/if}
            </td>
            <td class="f-14">
                {if condition='$item.state eq 0'}
                {if condition="in_array('admin/Manager/audit', $Think.session.ACCESS_LIST)"}
                <input class="btn btn-success size-MINI radius" type="button" title="审核通过" onclick="admin_success('{$item.id}', '1', '{$item.user_id}')" value="通过">
                <input class="btn btn-danger size-MINI radius" type="button" title="审核拒绝" onclick="admin_refuse('{$item.id}', '2', '{$item.user_id}')" value="拒绝">
                {/if}
                {/if}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    {$pages}
</div>
{/block}

{block name="footer"}

{/block}

{block name="script"}
<script>
    {if condition="in_array('admin/Manager/audit', $Think.session.ACCESS_LIST)"}
    function admin_success(_id, state, uid)
    {
        layer.confirm('是否通过审核?', {icon: 1, title:'提示'}, function(index){

            var _oData = {id : _id, state:state, user_id:uid},
                _url = '{:url("admin/Manager/audit")}',
                _loading = parent.layer.load(1),
                _func = function (_resp) {
                    parent.layer.close(_loading);
                    parent.layer.close(index);
                    if (!_resp.state) {
                        layer.msg(_resp.info);
                    } else {
                        layer.msg('操作成功！', {time: 500}, function(){
                            window.location.reload();
                        });
                    }
                };
            _ajaxPost(_url, _oData, _func);
        });

    }
    function admin_refuse(_id, state, uid)
    {
        layer.confirm('是否拒绝本次审核?', {icon: 5, title:'提示'}, function(index){

            var _oData = {id : _id, state:state,user_id:uid},
                _url = '{:url("admin/Manager/audit")}',
                _loading = parent.layer.load(1),
                _func = function (_resp) {
                    parent.layer.close(_loading);
                    parent.layer.close(index);
                    if (!_resp.state) {
                        layer.msg(_resp.info);
                    } else {
                        layer.msg('操作成功！', {time: 500}, function(){
                            window.location.reload();
                        });
                    }
                };
            _ajaxPost(_url, _oData, _func);
        });
    }
    {/if}

</script>
{/block}