{extend name="layouts/layout_user" /}
{block name="title"}我关注的大神{/block}
{block name="style"}{/block}
<!--个人中心-充值-支付宝-->
{block name="body"}
<body class="quick_body payment_body mui-ios mui-ios-10 mui-ios-10-3">
{/block}
{block name="content"}
<header class="has_back_top ">
    关注的大神
    <a href="{:url('index/User/index')}" class="back_icon">
        <img src="__RESOURCE__/img/back_icon.png">
    </a>
</header>
<ul class="nieren_list">
    {volist name="res.has_many_attention" id="vo"}
    <li>
        <a href="{:url('index/Cattle/niurenDetail', ['uid' => $vo.follow_id])}" class="clear_fl">
            <div class="lf niu_profile">
                <img class="lf" src="/default-user-img.png">
                <div class="lf">
                    <h1>{$vo.belongs_to_attention.nickname | default=$vo.belongs_to_attention.username}</h1>
                    <p class="niu_name">简介：策划达人</p>
                </div>
            </div>
            <span class="rt">查看动态</span>
        </a>
        <div class="flex_nowrap niu_info">
            <div>
                <p class="key">策略数</p>
                <p class="value">{$vo.belongs_to_attention.pulish_strategy}</p>
            </div>
            <div>
                <p class="key">胜算率</p>
                <p class="value red">{$vo.belongs_to_attention.strategy_win}%</p>
            </div>
            <div>
                <p class="key">收益率</p>
                <p class="value red">{$vo.belongs_to_attention.strategy_yield}%</p>
            </div>
        </div>
    </li>
    {/volist}
</ul>
{/block}
{block name="nav"}{/block}
{block name="script"}
{/block}
