{extend name="layouts/layout_iframe" /}

{block name="title"}交易模式列表{/block}

{block name="body"}
<nav class="breadcrumb">
	<i class="Hui-iconfont Hui-iconfont-home2"></i> 首页
	<span class="c-gray en">&gt;</span> 交易模式
	<span class="c-gray en">&gt;</span> 交易模式列表
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
		<i class="Hui-iconfont Hui-iconfont-huanyipi"></i>
	</a>
</nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray">
		<span class="l">
			{if condition="in_array('admin/Mode/remove', $Think.session.ACCESS_LIST)"}
			<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
				<i class="Hui-iconfont Hui-iconfont-del3"></i> 批量删除
			</a>
			{/if}
			{if condition="in_array('admin/Mode/create', $Think.session.ACCESS_LIST)"}
			<a class="btn btn-primary radius" href="javascript:;" onclick="mode_add('添加交易模式','{:url("admin/Mode/create")}','','640')">
				<i class="Hui-iconfont Hui-iconfont-add"></i> 添加交易模式
			</a>
			{/if}
		</span>
		<span class="r">共有数据：<strong>{$datas.total}</strong> 条</span>
	</div>
	<table class="table table-border table-bordered table-hover table-bg">
		<thead>
		<tr class="text-c">
			<th width="25"><input type="checkbox" value="" name=""></th>
			<th width="40">ID</th>
			<th>模式名称</th>
			<th>所属产品</th>
			<th>模式类型</th>
			<th>免息期（工作日）</th>
			<th>建仓费（元/万元）</th>
			<th>递延费（元/天/万元）</th>
			<th>最小止盈（%）</th>
			<th>最小止损（%）</th>
			<th>盈利抽成（%）</th>
			<th>状态</th>
			<th width="170">操作</th>
		</tr>
		</thead>
		<tbody>
		{volist name="datas.data" id="item"}
		<tr class="text-c mode-lists">
			<td><input type="checkbox" value="{$item.mode_id}" name="id"></td>
			<td>{$item.mode_id}</td>
			<td>{$item.name}</td>
			<td>{$item.has_one_product.name}</td>
			<td>{$item.has_one_plugins.name}</td>
			<td>{$item.free}</td>
			<td>{$item.jiancang|number_format=2}</td>
			<td>{$item.defer|number_format=2}</td>
			<td>{$item.profit|number_format=2}</td>
			<td>{$item.loss|number_format=2}</td>
			<td>{$item.point|number_format=2}</td>
			<td>
				{if condition="$item.status.value eq 0"}
				<span class="label label-success radius">{$item.status.text}</span>
				{else /}
				<span class="label label-danger radius">{$item.status.text}</span>
				{/if}
			</td>
			<td class="f-14">
				{if condition="in_array('admin/Mode/modify', $Think.session.ACCESS_LIST)"}
				<input class="btn btn-primary size-MINI radius" type="button" title="编辑交易模式" onclick="mode_edit('编辑交易模式','{:url("admin/Mode/modify", ['id' => $item.mode_id])}','','640')" value="编辑">
				{/if}
				{if condition="in_array('admin/Mode/setDeposit', $Think.session.ACCESS_LIST)"}
				<input class="btn btn-secondary size-MINI radius" type="button" title="设置保证金" onclick="mode_deposit('设置保证金','{:url("admin/Mode/setDeposit", ['id' => $item.mode_id])}','','300')" value="保证金">
				{/if}
				{if condition="in_array('admin/Mode/setLever', $Think.session.ACCESS_LIST)"}
				<input class="btn btn-warning size-MINI radius" type="button" title="设置杠杆" onclick="mode_lever('设置杠杆','{:url("admin/Mode/setLever", ['id' => $item.mode_id])}','','300')" value="杠杆">
				{/if}
				{if condition="in_array('admin/Mode/remove', $Think.session.ACCESS_LIST)"}
				<input class="btn btn-danger size-MINI radius" type="button" title="删除交易模式" onclick="mode_del(this,{$item.mode_id});" value="删除">
				{/if}
			</td>
		</tr>
		{/volist}
		</tbody>
	</table>
	{$pages}
</div>
{/block}

{block name="footer"}

{/block}

{block name="script"}
<script>
    /*用户-添加*/
    {if condition="in_array('admin/Mode/create', $Think.session.ACCESS_LIST)"}
    function mode_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    {/if}

    {if condition="in_array('admin/Mode/modify', $Think.session.ACCESS_LIST)"}
    function mode_edit(title,url,w,h){
        layer_show(title,url,w,h);
    }
	{/if}

	{if condition="in_array('admin/Mode/setDeposit', $Think.session.ACCESS_LIST)"}
	function mode_deposit(title,url,w,h){
		layer_show(title,url,w,h);
	}
	{/if}

	{if condition="in_array('admin/Mode/setLever', $Think.session.ACCESS_LIST)"}
	function mode_lever(title,url,w,h){
		layer_show(title,url,w,h);
	}
	{/if}

    {if condition="in_array('admin/Mode/remove', $Think.session.ACCESS_LIST)"}
    function mode_del(_obj, _id) {
        parent.layer.confirm('确认要删除交易模式吗？',function(index){
            var _oData = {id:_id},
                _url = '{:url("admin/Mode/remove", ["act" => "single"])}',
                _func = function (_resp) {
                    parent.layer.close(index);
                    if (!_resp.state) {
                        parent.layer.msg(_resp.info);
                    } else {
                        layer.msg('删除成功！', {time: 500}, function(){
                            if(_resp.data && _resp.data.url){
                                parent.window.location.href = _resp.data.url;
                            }else{
                                $(_obj).parents("tr").remove();
                            }
                        });
                    }
                };
            _ajaxPost(_url, _oData, _func);
        });
    }

    function datadel()
    {
        var _ids = new Array();
        $(".mode-lists").find("input[type*=checkbox]").each(function(index, el) {
            if( $(this).is(":checked") ){
                var _id = $(this).val();
                _ids.push(_id);
            }
        });
        if(_ids.length == 0){
            layer.msg("请选择要删除的数据！");
            return false;
        }else{
            parent.layer.confirm('确认要删除交易模式吗？',function(index){
                var _oData = {ids: _ids},
                    _url = '{:url("admin/Mode/remove", ["act" => "patch"])}',
                    _func = function (_resp) {
                        parent.layer.close(index);
                        if (!_resp.state) {
                            layer.msg(_resp.info);
                        } else {
                            layer.msg('删除成功！', {time: 500}, function(){
                                window.location.reload();
                            });
                        }
                    };
                _ajaxPost(_url, _oData, _func);
            });
        }
    }
	{/if}
</script>
{/block}