{extend name="layouts/layout_iframe" /}

{block name="title"}角色管理{/block}

{block name="body"}
<nav class="breadcrumb">
    <i class="Hui-iconfont Hui-iconfont-home2"></i> 首页
    <span class="c-gray en">&gt;</span> 管理员管理
    <span class="c-gray en">&gt;</span> 角色管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont Hui-iconfont-huanyipi"></i>
    </a>
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray">
		<span class="l">
            {if condition="in_array('admin/Admin/rolePatchRemove', $Think.session.ACCESS_LIST)"}
            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
                <i class="Hui-iconfont  Hui-iconfont-del3"></i> 批量删除
            </a>
            {/if}
            {if condition="in_array('admin/Admin/roleCreate', $Think.session.ACCESS_LIST)"}
			<a class="btn btn-primary radius" href="javascript:;" onclick="role_add('添加角色','{:url("admin/Admin/roleCreate")}','', '350')">
				<i class="Hui-iconfont Hui-iconfont-add"></i> 添加角色
            </a>
            {/if}
        </span>
        <span class="r">共有数据：<strong>{$datas.total}</strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox" value="" name=""></th>
            <th width="40">ID</th>
            <th>角色名</th>
            <th>描述</th>
            <th>状态</th>
            <th width="120">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="datas.data" id="item"}
        <tr class="text-c role-lists">
            <td width="25"><input type="checkbox" value="{$item.id}" name=""></td>
            <td width="25">{$item.id}</td>
            <td>{$item.name}</td>
            <td>{$item.remark}</td>
            <td>
                {if condition="$item.show.value eq 1"}
                <span class="label label-success radius">{$item.show.text}</span>
                {else /}
                <span class="label label-danger radius">{$item.show.text}</span>
                {/if}
            </td>
            <td class="f-14">
                {if condition="in_array('admin/Admin/roleEdit', $Think.session.ACCESS_LIST)"}
                <input class="btn btn-success size-MINI radius" type="button" title="角色编辑" onclick="role_edit('角色编辑','{:url("admin/Admin/roleEdit", ['id' => $item.id])}','','350')" value="编辑">
                {/if}
                {if condition="in_array('admin/Permission/rolePush', $Think.session.ACCESS_LIST)"}
                <input class="btn btn-warning size-MINI radius" type="button" title="角色授权" onclick="role_push('角色授权','{:url("admin/Permission/rolePush", ['id' => $item.id])}','', '650');" value="授权">
                {/if}
                {if condition="in_array('admin/Admin/roleRemove', $Think.session.ACCESS_LIST)"}
                <input class="btn btn-danger size-MINI radius" type="button" title="角色删除" onclick="role_del(this,{$item.id});" value="删除">
                {/if}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    {$pages}
</div>
{/block}

{block name="footer"}

{/block}

{block name="script"}
<script>
    /*用户-添加*/
    {if condition="in_array('admin/Admin/roleCreate', $Think.session.ACCESS_LIST)"}
    function role_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    {/if}

    {if condition="in_array('admin/Admin/roleEdit', $Think.session.ACCESS_LIST)"}
    function role_edit(title,url,w,h){
        layer_show(title,url,w,h);
    }
    {/if}

    {if condition="in_array('admin/Admin/roleRemove', $Think.session.ACCESS_LIST)"}
    function role_del(_obj, _id) {
        parent.layer.confirm('角色删除须谨慎，确认要删除吗？',function(index){
            var _oData = {id:_id},
                _url = '{:url("admin/Admin/roleRemove")}',
                _func = function (_resp) {
                    parent.layer.close(index);
                    if (!_resp.state) {
                        layer.msg(_resp.info);
                    } else {
                        layer.msg('删除成功！', {time: 500}, function(){
                            if(_resp.data && _resp.data.url){
                                parent.window.location.href = _resp.data.url;
                            }else{
                                $(_obj).parents("tr").remove();
                            }
                        });
                    }
                };
            _ajaxPost(_url, _oData, _func);
        });
    }
    {/if}

    {if condition="in_array('admin/Admin/rolePatchRemove', $Think.session.ACCESS_LIST)"}
    function datadel()
    {
        var _ids = new Array();
        $(".role-lists").find("input[type*=checkbox]").each(function(index, el) {
            if( $(this).is(":checked") ){
                var _id = $(this).val();
                _ids.push(_id);
            }
        });
        if(_ids.length == 0){
            layer.msg("请选择要删除的数据！");
            return false;
        }else{
            parent.layer.confirm('角色删除须谨慎，确认要删除吗？',function(index){
                var _oData = {ids: _ids},
                    _url = '{:url("admin/Admin/rolePatchRemove")}',
                    _func = function (_resp) {
                        parent.layer.close(index);
                        if (!_resp.state) {
                            layer.msg(_resp.info);
                        } else {
                            layer.msg('删除成功！', {time: 500}, function(){
                                window.location.reload();
                            });
                        }
                    };
                _ajaxPost(_url, _oData, _func);
            });
        }
    }
    {/if}

    {if condition="in_array('admin/Permission/rolePush', $Think.session.ACCESS_LIST)"}
    function role_push(title,url,w,h){
        layer_show(title,url,w,h);
    }
    {/if}
</script>
{/block}