<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>忘记密码</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<link href="__RESOURCE__/css/mui.min.css" rel="stylesheet">
	<link href="__RESOURCE__/css/person.css" rel="stylesheet">
</head>
<body>
	<header class="has_back_top ">
			忘记密码
			<a href="javascript:history.go(-1)" class="back_icon">
				<img src="__RESOURCE__/img/back_icon.png">
			</a>
		</header>

		<form class="my_from">
			<div class="my_form_group has_get">
				<input type="text" placeholder="请输入手机号码" id="mobile" name="mobile" />
				<!--<span class="selected_jigou">选择机构</span>
				<input name="institution" type="hidden" id="institution" />-->
			</div>
			<div class="my_form_group has_get">
				<input type="text" placeholder="请输入验证码" id="code" name="code" />
				<span class="get_btn">获取短信验证码</span>
			</div>
			<div class="my_form_group has_get">
				<input type="password" placeholder="请输入6~12位密码" id="password" />
				<span class="eye cl0se"></span>
			</div>
			<div class="my_form_group">
				<input class="sub_btn" type="button"  value="提交" id="submit" />
			</div>
		</form>

		<div class="risk_mask">
		<div class="risk_content">
			<p class="risk_title">选择登录会员单位</p>
			<div class="risk_text">
				<ul>
					{volist name="members" id="item"}
					<li data-id="{$item.admin_id}">{$item.nickname|default=$item.username}</li>
					{/volist}
				</ul>
			</div>
		</div>
	</div>

	<script src="__RESOURCE__/js/jquery-2.2.0.min.js"></script>
	<script src="__RESOURCE__/js/mui.min.js"></script>
	<script type="text/javascript" src="__RESOURCE__/js/common.js"></script>
	<script type="text/javascript">
		$(".eye").on("tap" , function(){
			if( $(this).hasClass("close") ){
				$(this).removeClass("close").addClass("open");
				$(this).prev("input").attr("type" , "text");
			}else{
				$(this).removeClass("open").addClass("close");
				$(this).prev("input").attr("type" , "password");
			}
		});

		$(".risk_text").on("tap" , "li" , function(){
			var val = $(this).html(),
				_id = $(this).data("id");
			$(".selected_jigou").html(val);
            $("#institution").val( _id );
			$(".risk_mask").hide();
		});

		function isPoneAvailable($poneInput) {  
			var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;  
			if (!myreg.test($poneInput.val())) {  
				return false;  
			} else {  
				return true;  
			}  
		}  

		$(".selected_jigou").on("tap" , function(){
			var phoneNum = $("#mobile");
			if( phoneNum.val() == "" ){
				$alert("请输入手机号");
				return false;
			}
			if( !isPoneAvailable(phoneNum) ){
				$alert("请输入正确的手机号");
				return false;
			}
			$(".risk_mask").show();
		});
	</script>

	<script type="text/javascript">
        $(".get_btn").click(function(){
            var _url = "{:url('index/Home/captcha')}",
                _mobile = $("input[name='mobile']").val(),
                _oData = {mobile:_mobile, act:"forget"};
            $ajaxCustom(_url, _oData, function(res){
                if(res.state){ // 登录成功
                    $alert("发送成功");
                    //$("input[name='code']").val(res.data.code);
                }else{
                    $alert(res.info);
                }
            });
        });

        // 提交登录
        $("#submit").click(function(e){
            e.preventDefault();
            var _mobile = $("#mobile").val(),
				_code = $("#code").val(),
            	_password = $("#password").val(),
            	_institution = $("#institution").val();

            /*if(_institution == ""){
                $alert("请选择机构");
                return false;
            }*/

            //var url = config.api.base + config.api.login;
            var url = '{:url("index/Home/forget")}';
            var data = {
                mobile: _mobile,
				code: _code,
                password: _password,
                institution: _institution
            };
            $ajaxCustom(url, data, function(res){//alert(JSON.stringify(res))
                if(res.state){ // 登录成功
                    $alert("密码修改成功");
                    setTimeout(function(){
                        if(res.data.url){
                            window.location.href = res.data.url;
                        }else{
                            window.location.href = "/";
                        }
                    }, 1000);
                }else{
                    $alert(res.info);
                }
            })

        });
	</script>
</body>
</html>