{extend name="layouts/layout_iframe" /}

{block name="title"}添加用户{/block}

{block name="body"}
<article class="page-container">
    <form class="form form-horizontal" id="form-team-user-add">
        <input type="hidden" class="input-text" value="{$data.id}" name="id">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>节点名称：</label>
            <div class="formControls col-xs-8 col-sm-7">
                <input type="text" class="input-text" value="{$data.name}" placeholder="节点名称" name="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上级节点：</label>
            <div class="formControls col-xs-8 col-sm-7">
						<span class="select-box">
						<select class="select" id="sel_Sub" name="pid">
							<option value="0">顶级节点</option>
                            {volist name="menu" id="item"}
                                <option value="{$item.id}" {eq name="data.pid" value="$item.id"}selected{/eq} >{$item.name}-模块</option>
                                {volist name="item.children" id="children"}
                                    <option value="{$children.id}" {eq name="data.pid" value="$children.id"}selected{/eq} >&nbsp;&nbsp;├ {$children.name}-列表</option>
                                    {volist name="children.children" id="act"}
                                        <option value="{$act.id}" {eq name="data.pid" value="$act.id"}selected{/eq} >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├ {$act.name}-操作</option>
                                    {/volist}
                                {/volist}
                            {/volist}

						</select>
						</span>
            </div>
            <div class="col-3">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>操作地址：</label>
            <div class="formControls col-xs-8 col-sm-7">
                <input type="text" class="input-text" value="{$data.act}" placeholder="操作地址" name="act">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>ICON：</label>
            <div class="formControls col-xs-8 col-sm-7">
                <input type="text" class="input-text" value="{$data.icon | default=''}" placeholder="ICON" name="icon">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">类型：</label>
            <div class="formControls col-xs-8 col-sm-7 skin-minimal">
                <div class="radio-box">
                    <input name="module" type="radio" value="0" id="sex-1" {eq name="data.module" value="0"}checked{/eq}>
                    <label for="sex-1">模块</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="module" id="sex-2" value="1" {eq name="data.module" value="1"}checked{/eq}>
                    <label for="sex-2">列表</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="module" id="sex-3" value="2" {eq name="data.module" value="2"}checked{/eq}>
                    <label for="sex-3">操作</label>
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>状态：</label>
            <div class="formControls col-xs-8 col-sm-7 skin-minimal">
                <div class="radio-box">
                    <input name="status" type="radio" value="1" id="sex-1" {eq name="data.status" value="1"}checked{/eq}>
                    <label for="sex-1">开启</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="status" id="sex-2" value="0" {eq name="data.status" value="0"}checked{/eq}>
                    <label for="sex-2">关闭</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">排序：</label>
            <div class="formControls col-xs-8 col-sm-7">
                <input type="text" class="input-text" value="{$data.sort | default='50'}" placeholder="" name="sort">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="button" id="bth-submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
{/block}

{block name="footer"}

{/block}

{block name="script"}
<script>
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#bth-submit").click(function(){
            var _oData = $("form").serialize(),
                _url = '{:url("admin/permission/modify")}',
                _func = function (_resp) {
                    if (!_resp.state) {
                        layer.msg(_resp.info);
                    } else {
                        layer.msg('修改成功！', {time: 500}, function(){
                            if(_resp.data && _resp.data.url){
                                parent.window.location.href = _resp.data.url;
                            }else{
                                parent.window.location.reload();
                            }
                        });
                    }
                };
            _ajaxPost(_url, _oData, _func);
        });
    });
</script>
{/block}