<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<link href="__RESOURCE__/css/mui.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__RESOURCE__/css/person.css">
</head>
<!--个人中心-错误-->
<body class="payment_body">  
		<img style="width: 100%;margin-top: 40px;" src="__RESOURCE__/img/error.jpg">
		<div style="text-align: center;">
			<a style="font-size: 12px;" href="javascript:history.go(-1)">返回上级页面</a><br/>
			<a style="font-size: 12px;" href="/">返回首页</a>
		</div>
</body>
</html>