{extend name="layouts/layout_manager" /}
{block name="title"}历史收益{/block}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__RESOURCE__/css/person.css">
{/block}
<!--个人中心-充值-支付宝-->
{block name="body"}
<body>
{/block}
{block name="content"}
<div class="manager_con">
    <header class="header_con">
        <a href="{:url('index/Cattle/niurenDetail', ['uid' => $uid])}" class="lf">
            <img src="__RESOURCE__/img/call_back.png">
        </a>
        <p>历史收益</p>
    </header>

    <div class="niu_dongtai">

        {volist name="$lists" id="vo"}
        <div class="niu_detail_con nomar">
            <div class="niu_dongtai">

                <div class="pa14">
                    <h1 class="clear_fl niu_d_title">
                        <span class="lf niu_d_name">{$vo.name}({$vo.code})</span>
                        <a href="{:url('index/Stock/stockBuy', ['follow_id' => $vo.order_id, 'code' => $vo.code])}" class="rt follow_buy_btn">跟买</a>
                    </h1>
                    <div class="niu_d_detail clear_fl">
                        <p>数量: <span>{$vo.hand}股</span></p>
                        <p>当前收益: <span class="red">{$vo.shouyi}%</span></p>
                    </div>
                </div>
            </div>
        </div>
        {/volist}

    </div>
</div>

{/block}
{block name="nav"}{/block}
{block name="script"}
<script type="text/javascript" src="__RESOURCE__/js/common.js"></script>
<script type="text/javascript">


</script>
{/block}
