{extend name="layouts/layout_user" /}

{block name="title"}
绑定银行卡
{/block}

{block name="style"}
<style type="text/css">
    .withdrawal-name {
        line-height: 30px;
    }
    .withdrawal-con .control-style {
        line-height: 30px;
    }
    .boxflex1 .get-btn {
        line-height: 30px;
    }
    .withdrawal-con.yanzheng {
        width: 40%;
    }
    .boxflex1 .get-btn {
        border: 1px solid #0066FF;
        padding: 0 .2rem;
    }
</style>
{/block}

{block name="body"}
<body class="withdrew_body">
{/block}

{block name="content"}
	<div class="withdrew_body">
		<header class="header_con">
		    <a href="javascript:history.go(-1)" class="lf">
		        <img src="__RESOURCE__/img/call_back.png">
		    </a>
		    <p>添加银行卡</p>
		</header>
		<div class="personal">
		    <form id="with-drawForm" method="post">
				<div class="boxflex1 mt10 clearfloat">
			        <div class="withdrawal-name">持卡人姓名</div>
			        <div class="withdrawal-con">
			            <div class="form-group field-userwithdraw-amount required">
							<input type="text" class="control-style" name="bank_user" value="{$user.has_one_card.bank_user|default=''}" placeholder="持卡人姓名">
							<div class="help-block"></div>
						</div>        
					</div>
			    </div>
			    <div class="boxflex1 clearfloat mt10">
			        <div class="withdrawal-name">开户银行</div>
			        <div class="wrapper-dropdown-1" tabindex="1">
			            <div class="form-group field-useraccount-bank_name required">
							<select class="form-control" name="bank_name">
								{volist name="banks" id="item"}
								<option value="{$item.name}" {eq name="item.name" value="$user.has_one_card.bank_name"}selected{/eq}>{$item.name}</option>
								{/volist}
							</select>
							<div class="help-block"></div>
						</div>       
					</div>
		    	</div>
		    	<div class="boxflex1 none clearfloat">
			        <div class="withdrawal-name">所在省份</div>
			        <div class="wrapper-dropdown-1" tabindex="1">
			            <div class="form-group field-useraccount-bank_name required">
							<select class="form-control" name="bank_province">
								{volist name="provinces" id="item"}
								<option value="{$item.id}" {eq name="item.id" value="$user.has_one_card.bank_province"}selected{/eq}>{$item.name}</option>
								{/volist}
							</select>
							<div class="help-block"></div>
						</div>       
					</div>
		    	</div>
		    	<div class="boxflex1 none clearfloat">
			        <div class="withdrawal-name">所在城市</div>
			        <div class="wrapper-dropdown-1" tabindex="1">
			            <div class="form-group field-useraccount-bank_name required">
							<select class="form-control" name="bank_city">
								{volist name="citys" id="item"}
								<option value="{$item.id}" {eq name="item.id" value="$user.has_one_card.bank_city"}selected{/eq}>{$item.name}</option>
								{/volist}
							</select>
							<div class="help-block"></div>
						</div>       
					</div>
		    	</div>
		    	<div class="boxflex1 none clearfloat">
			        <div class="withdrawal-name">支行名称</div>
					<div class="withdrawal-con">
						<div class="form-group field-userwithdraw-amount required">
							<input type="text" class="control-style" name="bank_address" value="{$user.has_one_card.bank_address|default=''}" placeholder="支行名称">
							<div class="help-block"></div>
						</div>
					</div>
		    	</div>
		    	<div class="boxflex1 mt10 clearfloat">
			        <div class="withdrawal-name">银行卡号</div>
			        <div class="withdrawal-con">
			            <div class="form-group field-userwithdraw-amount required">
							<input type="text" class="control-style" name="bank_card" value="{$user.has_one_card.bank_card|default=''}" placeholder="请输入银行卡号">
							<div class="help-block"></div>
						</div>
					</div>
			    </div>
			    <div class="boxflex1 none clearfloat">
			        <div class="withdrawal-name">身份证号</div>
			        <div class="withdrawal-con">
			            <div class="form-group field-userwithdraw-amount required">
							<input type="text" class="control-style" name="id_card" value="{$user.has_one_card.id_card|default=''}" placeholder="请输入身份证号">
							<div class="help-block"></div>
						</div>        
					</div>
			    </div>
			    <div class="boxflex1 none clearfloat">
			        <div class="withdrawal-name">银行预留手机号</div>
			        <div class="withdrawal-con">
			            <div class="form-group field-userwithdraw-amount required">
							<input type="text" class="control-style" name="bank_mobile" value="{$user.has_one_card.bank_mobile|default=''}" placeholder="请输入银行预留手机号">
							<div class="help-block"></div>
						</div>        
					</div>
			    </div>
		   		
			    <!--<div class="withdrawal-tips">
			        <ul>添加规则：
			            <li>1、规则1</li>
			            <li>2、规则2</li>
			            <li>3、规则3</li>
			            <li></li>
			        </ul>
			    </div>-->

			    <div class="recharge-btn" style="margin-top: 50px;" id="submitBtn">提交</div>
			</form>
		</div>
	</div>
{/block}

{block name="nav"}
{/block}

{block name="script"}
<script type="text/javascript" src="__RESOURCE__/js/common.js"></script>
<script>
    $("select[name='bank_province']").on("change", function(){
        var _id = $(this).val();
        $.ajax({
            url: "{:url('index/Index/getRegion')}",
            type: "POST",
            data: {id:_id},
            dataType: "json",
            success: function(_resp) {
                console.log(_resp);
                if(_resp.state){
                    if(_resp.data){
                        var _html = "";
                        for(var _key in _resp.data){
                            _html += '<option value="' + _resp.data[_key].id + '">'+ _resp.data[_key].name +'</option>';
                        }
                        $("select[name='bank_city']").empty().append($(_html));
					}
                    return false;
                }else{
                    $alert(_resp.info);
                }
            }
        });
    });

    $("#submitBtn").click(function () {
        var _url = "{:url('index/User/modifyCard')}",
            _oData = $("form").serialize();
        $ajaxCustom(_url, _oData, function(res){
            if(res.state){ // 登录成功
                $alert("银行卡绑定成功！");
                setTimeout(function(){
                    var _callback = "{$callback|default=''}";
                    if(_callback == ''){
                        if(res.data.url){
                            window.location.href = res.data.url;
                        }else{
                            window.location.href = "/";
                        }
					}else{
                        window.location.href = _callback;
					}
                }, 1000);
            }else{
                $alert(res.info);
            }
        });
    });
</script>
{/block}