{extend name="layouts/layout_user" /}

{block name="title"}
修改密码
{/block}

{block name="style"}
{/block}

{block name="body"}
<body>
{/block}

{block name="content"}
	<header class="has_back_top ">
		修改密码
		<a href="javascript:history.go(-1)" class="back_icon">
			<img src="__RESOURCE__/img/back_icon.png">
		</a>
	</header>

	<form class="my_from">
		<div class="my_form_group">
			<input type="password" placeholder="请输入旧密码" name="oldPassword" />
		</div>
		<div class="my_form_group">
			<input type="password" placeholder="请输入6~16位新密码" name="newPassword" />
		</div>
		<div class="my_form_group">
			<input type="password" placeholder="请再次输入6~16位新密码" name="reNewPassword" />
		</div>
		<div class="my_form_group">
			<input class="sub_btn" type="button"  value="提交" id="submit" />
		</div>
	</form>
{/block}

{block name="nav"}
{/block}

{block name="script"}
<script type="text/javascript" src="__RESOURCE__/js/common.js"></script>
<script type="text/javascript">
    $("#submit").click(function(){
        var _url = '{:url("index/User/password")}',
			_oData = $("form").serialize();
        $ajaxCustom(_url, _oData, function(res){
            if(res.state){ // 登录成功
                $alert("修改成功");
                setTimeout(function(){
                    if(res.data.url){
                        window.location.href = res.data.url;
                    }else{
                        window.location.reload();
                    }
                }, 1000);
            }else{
                $alert(res.info);
            }
        });
	});
</script>
{/block}