{extend name="layouts/layout_user" /}

{block name="title"}
提现
{/block}

{block name="style"}
<style type="text/css">
    .withdrawal-name {
        line-height: 30px;
    }
    .withdrawal-con .control-style {
        line-height: 30px;
    }
    .boxflex1 .get-btn {
        line-height: 30px;
    }
    .withdrawal-con.yanzheng {
        width: 40%;
    }
    .boxflex1 .get-btn {
        border: 1px solid #0066FF;
        padding: 0 .2rem;
    }

</style>
{/block}

{block name="body"}
<body class="withdrew_body">
{/block}
<!--个人中心-充值-->

{block name="content"}
	<div class="withdrew_body">
		<header class="header_con">
		    <a href="javascript:history.go(-1)" class="lf">
		        <img src="__RESOURCE__/img/call_back.png">
		    </a>
		    <p>提现</p>
		</header>
		<div class="personal">
		    <div class="boxflex boxflex1">
		        <div class="img-wrap"><img class="userimage" src="{$user.face|default='/resource/home/img/default-user-img.png'}"></div>
		        <div class="box_flex_1">
		            <div class="p_zichan">{$user.nickname|default=$user.username}</div>
		            <div class="cash">可提现金额：<b class="mon">{$user.account|number_format=2}</b>元</div>
		        </div>
		    </div>
		    <form id="with-drawForm" method="post">
				<div class="boxflex1 mt10 clearfloat">
			        <div class="withdrawal-name">提现金额</div>
			        <div class="withdrawal-con">
			            <div class="form-group field-userwithdraw-amount required">
							<input type="text" id="userwithdraw-amount" class="control-style" name="money" placeholder="请输入提现金额">
							<div class="help-block"></div>
						</div>        
					</div>
			    </div>
			    <div class="boxflex1 none clearfloat">
			        <div class="withdrawal-name">到账银行</div>
			        <div id="dd" class="wrapper-dropdown-1" tabindex="1">
			            <div class="form-group field-useraccount-bank_name required">
							<select id="useraccount-bank_name" class="form-control" name="card">
								{notempty name="user.has_one_card"}
							    <option value="{$user.has_one_card.id}">{$user.has_one_card.bank_name}（尾号{$user.has_one_card.bank_card|substr=-4}）</option>
                                {/notempty}
							</select>
							<div class="help-block"></div>
						</div>       
					</div>
		    	</div>
			    <div class="boxflex1 none clearfloat">
			        <div class="withdrawal-name">手机号</div>
			        <div class="withdrawal-con" tabindex="1">
			            <input type="text" value="{$user.mobile|mobileHide}" class="control-style" id="mobile" readonly="readonly" placeholder="{$user.mobile|mobileHide}">
			        </div>
			    </div>
			    <div class="boxflex1 none clearfloat">
			        <div class="withdrawal-name">验证码</div>
			        <div class="withdrawal-con yanzheng" tabindex="1">
			            <input type="text" id="user-verifycode" class="control-style" placeholder="输入短信验证码" name="code">
			        </div>
			        <div class="get-btn" id="verifyCodeBtn">获取验证码</div>
			    </div>
			    <div class="withdrawal-tips">
			        <ul>提现规则：
			            <li>1、提现时间工作日上午9:00到晚17:30。</li>
			            <li>2、每笔提现扣除2元手续费。</li>
			            <li>3、每笔提现金额最小10元。</li>
			            <li></li>
			        </ul>
			    </div>

			    <div class="recharge-btn mt10" id="submitBtn">立即提现</div>
			    <div class="form-group field-useraccount-bank_mobile required">
					<input type="hidden" id="useraccount-bank_mobile" class="form-control" name="mobile" value="{$user.mobile}">
					<div class="help-block"></div>
				</div>    
			</form>
		</div>
	</div>
{/block}

{block name="nav"}
{/block}

{block name="script"}
    <script type="text/javascript" src="__RESOURCE__/js/common.js"></script>
	<script>
	$(function () {
	    $("#submitBtn").click(function () {
            var _url = "{:url('index/User/withdraw')}",
                _oData = $("form").serialize();
            $ajaxCustom(_url, _oData, function(res){
                if(res.state){ // 登录成功
                    $alert("申请提现成功，请等待审核！");
                    setTimeout(function(){
                        if(res.data.url){
                            window.location.href = res.data.url;
                        }else{
                            window.location.href = "/";
                        }
                    }, 1000);
                }else{
                    $alert(res.info);
                }
            });
	    });
	    // 验证码
	    $("#verifyCodeBtn").click(function () {
            var _url = "{:url('index/Home/captcha')}",
                _mobile = $("input[name='mobile']").val(),
                _oData = {mobile:_mobile, act:"withdraw"};
            $ajaxCustom(_url, _oData, function(res){
                if(res.state){ // 登录成功
                    $alert("发送成功");
                    //$("input[name='code']").val(res.data.code);
                }else{
                    $alert(res.info);
                }
            });
	    });
	});
    var _bind = "{$bind|default=0}";
    if(_bind == "0"){
        var _jump = "{$redirect}";
        $alert("请先绑定银行卡！");
        setTimeout(function(){
            window.location.href = _jump;
        }, 1000);
    }
	</script>
{/block}