{extend name="layouts/layout_iframe" /}

{block name="title"}策略详情{/block}

{block name="body"}
<div class="page-container">
	<div class="col-sm-8" style="float: none;margin: 0 auto;">
        <table class="table table-border table-bordered radius">
            <thead class="text-c">
                <tr>
                    <th class="f-14" colspan="4">策略详情</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-r">策略ID：</th>
                    <td class="text-l">{$order.order_id}</td>
                    <th class="text-r">策略流水号：</th>
                    <td class="text-l">{$order.order_sn}</td>
                </tr>
                <tr>
                    <th class="text-r">昵称：</th>
                    <td class="text-l">{$order.has_one_user.nickname|default='-'}</td>
                    <th class="text-r">手机号：</th>
                    <td class="text-l">{$order.has_one_user.mobile|default='-'}</td>
                </tr>
                <tr>
                    <th class="text-r">股票代码：</th>
                    <td class="text-l">{$order.code}</td>
                    <th class="text-r">股票名称：</th>
                    <td class="text-l">{$order.name}</td>
                </tr>
                <tr>
                    <th class="text-r">平仓类型：</th>
                    <td class="text-l">
                        {gt name="order.force_type" value="0"}
                        强制平仓
                        {else /}
                        委托平仓
                        {/gt}
                    </td>
                    <th class="text-r">平仓备注：</th>
                    <td class="text-l">
                        {gt name="order.force_type" value="0"}
                        {$order.force_type_text}
                        {else /}
                        -
                        {/gt}
                    </td>
                </tr>
                <tr>
                    <th class="text-r">买入价：</th>
                    <td class="text-l">{$order.price|number_format=2}</td>
                    <th class="text-r">买入数量：</th>
                    <td class="text-l">{$order.hand|intval}</td>
                </tr>
                <tr>
                    <th class="text-r">卖出价：</th>
                    <td class="text-l">{$order.sell_price|number_format=2}</td>
                    <th class="text-r">卖出数量：</th>
                    <td class="text-l">{$order.sell_hand|intval}</td>
                </tr>
                <tr>
                    <th class="text-r">止盈：</th>
                    <td class="text-l">{$order.stop_profit_price|number_format=2}</td>
                    <th class="text-r">止损：</th>
                    <td class="text-l">{$order.stop_loss_price|number_format=2}</td>
                </tr>
                <tr>
                    <th class="text-r">盈亏：</th>
                    <td class="text-l {if condition='$order.profit LT 0'}c-green{else /}c-red{/if}">
                        {$order.profit}
                    </td>
                    <th class="text-r"></th>
                    <td class="text-l"></td>
                </tr>
                <tr>
                    <th class="text-r">保证金：</th>
                    <td class="text-l">{$order.deposit|number_format=2}</td>
                    <th class="text-r">建仓费：</th>
                    <td class="text-l">{$order.jiancang_fee|number_format=2}</td>
                </tr>
                <tr>
                    <th class="text-r">递延费：</th>
                    <td class="text-l">{$order.defer|number_format=2}</td>
                    <th class="text-r">微会员：</th>
                    <td class="text-l">{$order.has_one_user.has_one_admin.has_one_parent.username|default='-'}</td>
                </tr>
                <tr>
                    <th class="text-r">微圈：</th>
                    <td class="text-l">{$order.has_one_user.has_one_admin.username|default='-'}</td>
                    <th class="text-r">经纪人：</th>
                    <td class="text-l">{$order.has_one_user.has_one_parent.username|default='-'}</td>
                </tr>
                <tr>
                    <th class="text-r">买入时间：</th>
                    <td class="text-l">{$order.create_at|date="Y-m-d H:i", ###}</td>
                    <th class="text-r">卖出时间：</th>
                    <td class="text-l">{$order.update_at|date="Y-m-d H:i", ###}</td>
                </tr>
                <tr>
                    <th class="text-r">操作员：</th>
                    <td class="text-l">
                        {if condition="$order.has_one_operator"}
                        {$order.has_one_operator.nickname|default=$order.has_one_operator.username}
                        {else /}
                        -
                        {/if}
                    </td>
                    <th class="text-r"></th>
                    <td class="text-l"></td>
                </tr>
            </tbody>
        </table>
	</div>
</div>
{/block}

{block name="footer"}

{/block}

{block name="script"}
<script>
</script>
{/block}