{extend name="layouts/layout_iframe" /}

{block name="title"}返点记录{/block}

{block name="body"}
<div class="page-container">
	<div class="col-sm-8" style="float: none;margin: 0 auto;">
        {eq name="order.is_follow" value="1"}
        <table class="table table-border table-bordered radius">
            <thead class="text-c">
            <tr>
                <th class="f-14" colspan="4">牛人返点记录</th>
            </tr>
            <tr>
                <th style="width: 25%;">牛人</th>
                <th style="width: 25%;">返点类型</th>
                <th style="width: 25%;">返点金额</th>
                <th style="width: 25%;">结算时间</th>
            </tr>
            </thead>
            <tbody class="text-c">
            {empty name="order.has_many_niuren_record"}
            <tr>
                <td colspan="4">暂无牛人返点记录</td>
            </tr>
            {else /}
            {volist name="order.has_many_niuren_record" id="vo"}
            <tr class="text-c">
                <td>{$vo.belongs_to_niuren.nickname|default=$vo.belongs_to_niuren.username}</td>
                <td>{$vo.type_text}</td>
                <td>{$vo.money|number_format=2}</td>
                <td>{$vo.create_at|date='Y-m-d H:i:s', ###}</td>
            </tr>
            {/volist}
            {/empty}
            </tbody>
        </table>
        {/eq}
        <table class="table table-border table-bordered radius text-c">
            <thead class="text-c">
            <tr>
                <th class="f-14" colspan="4">经纪人返点记录</th>
            </tr>
            <tr>
                <th style="width: 25%;">经纪人</th>
                <th style="width: 25%;">返点类型</th>
                <th style="width: 25%;">返点金额</th>
                <th style="width: 25%;">结算时间</th>
            </tr>
            </thead>
            <tbody class="text-c">
            {empty name="order.has_many_manager_record"}
            <tr>
                <td colspan="4">暂无经纪人返点记录</td>
            </tr>
            {else /}
            {volist name="order.has_many_manager_record" id="vo"}
            <tr class="text-c">
                <td>{$vo.belongs_to_manager.nickname|default=$vo.belongs_to_manager.username}</td>
                <td>{$vo.type_text}</td>
                <td>{$vo.money|number_format=2}</td>
                <td>{$vo.create_at|date='Y-m-d H:i:s', ###}</td>
            </tr>
            {/volist}
            {/empty}
            </tbody>
        </table>
        <table class="table table-border table-bordered radius text-c">
            <thead class="text-c">
            <tr>
                <th class="f-14" colspan="4">代理商返点记录</th>
            </tr>
            <tr>
                <th style="width: 25%;">代理商</th>
                <th style="width: 25%;">返点类型</th>
                <th style="width: 25%;">返点金额</th>
                <th style="width: 25%;">结算时间</th>
            </tr>
            </thead>
            <tbody class="text-c">
            {empty name="order.has_many_proxy_record"}
            <tr>
                <td colspan="4">暂无代理商返点记录</td>
            </tr>
            {else /}
            {volist name="order.has_many_proxy_record" id="vo"}
            <tr class="text-c">
                <td>{$vo.belongs_to_admin.nickname|default=$vo.belongs_to_admin.username}</td>
                <td>{$vo.type_text}</td>
                <td>{$vo.money|number_format=2}</td>
                <td>{$vo.create_at|date='Y-m-d H:i:s', ###}</td>
            </tr>
            {/volist}
            {/empty}
            </tbody>
        </table>
	</div>
</div>
{/block}

{block name="footer"}

{/block}

{block name="script"}
<script>
</script>
{/block}