{extend name="layouts/layout_iframe" /}

{block name="title"}会员赠金日志{/block}

{block name="body"}
<nav class="breadcrumb">
    <i class="Hui-iconfont Hui-iconfont-home2"></i> 首页
    <span class="c-gray en">&gt;</span> 会员管理
    <span class="c-gray en">&gt;</span> 会员赠金日志
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont Hui-iconfont-huanyipi"></i>
    </a>
</nav>
<div class="page-container">
    <form action="" method="get">
    <div class="text-c">
        <input type="text" class="input-text" style="width:170px;" placeholder="登录名" name="username" value="{$search.username|default=''}">
        <input type="text" class="input-text" style="width:170px;" placeholder="手机号" name="mobile" value="{$search.mobile|default=''}">

        <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont Hui-iconfont-search2"></i>搜索</button>
    </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">

        <span class="r">共有数据：<strong>{$datas.total}</strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox" value="" name=""></th>
            <th width="40">ID</th>
            <th>用户id</th>
            <th>登录名</th>
            <th>昵称</th>
            <th>赠金金额</th>
            <th>赠金时间</th>
            <th>赠金人ID</th>
        </tr>
        </thead>
        <tbody>
        {empty name="datas.data"}
        <tr class="text-c admin-lists">
            <td colspan="12">暂时没有匹配到数据</td>
        </tr>
        {/empty}
        {volist name="datas.data" id="item"}
        <tr class="text-c admin-lists">
            <td width="25"><input type="checkbox" value="{$item.id}" name=""></td>
            <td width="40">{$item.id}</td>
            <td>{$item.user_id}</td>
            <td>{$item.has_one_user.username}</td>
            <td>{$item.has_one_user.nickname}</td>
            <td>{$item.amount|default='0.00'}</td>
            <td>{$item.create_at|date='Y-m-d H:i:s', ###}</td>
            <td>{$item.create_by}</td>

        </tr>
        {/volist}
        </tbody>
    </table>
    {$pages}
</div>
{/block}

{block name="footer"}

{/block}

{block name="script"}
<script>

    function admin_give(_obj, _id)
    {
        layer.prompt({
            title: '会员赠金',
            formType: 0,
        }, function(_number, _prompt){
            layer.close(_prompt);
            var _oData = {user_id : _id, number : _number},
                _url = '{:url("admin/User/giveAccount")}',
                _loading = parent.layer.load(1),
                _func = function (_resp) {
                    parent.layer.close(_loading);
                    if (!_resp.state) {
                        layer.msg(_resp.info);
                    } else {
                        layer.msg('修改成功！', {time: 500}, function(){

                        });
                    }
                };
            _ajaxPost(_url, _oData, _func);
        });
    }

</script>
{/block}