{extend name="layouts/layout_iframe" /}

{block name="title"}出金详情{/block}

{block name="body"}
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-5 col-sm-4">到账金额：</label>
            <div class="formControls col-xs-7 col-sm-6"><p style="margin-top: 3px;">{$withdraw.actual|number_format=2}</p></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-5 col-sm-4">开户行：</label>
            <div class="formControls col-xs-7 col-sm-6"><p style="margin-top: 3px;">{$withdraw.remark.bank|default=''}</p></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-5 col-sm-4">持卡人：</label>
            <div class="formControls col-xs-7 col-sm-6"><p style="margin-top: 3px;">{$withdraw.remark.name|default=''}</p></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-5 col-sm-4">银行卡号：</label>
            <div class="formControls col-xs-7 col-sm-6"><p style="margin-top: 3px;">{$withdraw.remark.card|default=''}</p></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-5 col-sm-4">支行名称：</label>
            <div class="formControls col-xs-7 col-sm-6"><p style="margin-top: 3px;">{$withdraw.remark.addr|default=''}</p></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-5 col-sm-4">状态：</label>
            <div class="formControls col-xs-7 col-sm-6">
                {if condition="$withdraw.state EQ 0"}
                <p class="c-warning" style="margin-top: 3px;">{$withdraw.state_text|default=''}</p>
                {elseif condition="$withdraw.state EQ 1" /}
                <p class="c-success" style="margin-top: 3px;">{$withdraw.state_text|default=''}</p>
                {elseif condition="$withdraw.state EQ -1" /}
                <p class="c-error" style="margin-top: 3px;">{$withdraw.state_text|default=''}</p>
                {/if}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-5 col-sm-4">申请时间：</label>
            <div class="formControls col-xs-7 col-sm-6"><p style="margin-top: 3px;">{$withdraw.create_at|date='Y-m-d H:i', ###}</p></div>
        </div>
        {if condition="$withdraw.update_by NEQ 0"}
        <div class="row cl">
            <label class="form-label col-xs-5 col-sm-4">审核人：</label>
            <div class="formControls col-xs-7 col-sm-6"><p style="margin-top: 3px;">{$withdraw.has_one_admin.username|default=''}</p></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-5 col-sm-4">审核时间：</label>
            <div class="formControls col-xs-7 col-sm-6"><p style="margin-top: 3px;">{$withdraw.update_at|date='Y-m-d H:i', ###}</p></div>
        </div>
        {/if}
    </form>
</article>
{/block}

{block name="footer"}

{/block}

{block name="script"}
<script>
</script>
{/block}