<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{block name="title"}标题{/block}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link href="__RESOURCE__/css/mui.min.css" rel="stylesheet">
    <link href="__RESOURCE__/css/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__RESOURCE__/css/swiper.min.css">
    <script src="__RESOURCE__/js/js/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="__RESOURCE__/js/swiper.min.js"></script>
    {block name="style"}样式{/block}
</head>
<body class="mui-ios mui-ios-10 mui-ios-10-3">
    {block name="content"}内容{/block}
    {block name="nav"}导航{/block}
</body>
</html>
<script src="__RESOURCE__/js/mui.min.js"></script>
<script type="text/javascript" src="__RESOURCE__/js/common.js"></script>
<script type="text/javascript" src="__RESOURCE__/js/config.js"></script>
{block name="script"}脚本{/block}